// Bootstrap Button Variant


@mixin script-font() {
	font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

@mixin heading-font() {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
}

$brand-primary: '#ee7335';
$brand-danger: '#34459e';
$gray-darkest: '#222';
$gray: '#777';
$gray-lighter: '#f7f7f7';
$placeholder-text: '#bbbbbb';
