
    <div class="container">
      <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="http://es.linkedin.com/pub/jo%C3%A3o-pereira/" target="new"><%= image_tag "linkedin.png", {height: 20, alt: "LinkedIN"} %></a></li>
              <li><a href="https://github.com/joaopapereira/" target="new"><%= image_tag "github.png", {height: 20, alt: "GitHub"} %></a></li>
              <li>
                <!-- Posicione este código onde você deseja que o selo apareça. -->
                <a href="//plus.google.com/u/0/113496476839486873432?prsrc=3"
                   rel="publisher" target="new" style="text-decoration:none;">
                <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/>
                </a>
              </li>
            </ul>
            <p>Made by <a href="#" rel="nofollow">João Pereira</a>
            <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a> and <a href="http://thomaspark.me" rel="nofollow">Thomas Park Theme</a>

          </div>
        </div>

      </footer>

    </div>