     <div class="mynavbar navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Joao Pereira</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav ">
            <li>
              <a href="#" class="border-fade">Home</a>
            </li>
            <li>
              <a href="#presentation" class="border-fade">About me</a>
            </li>
            <li>
              <a href="#portfolio" class="border-fade">Portfolio</a>
            </li>
            <li>
              <a href="#links" class="border-fade">Links</a>
            </li>
          </ul>
          <span class="navbar-text navbar-right">
            <a href="https://www.linkedin.com/pub/jo%C3%A3o-pereira/41/224/971" target="new"><%= image_tag "linkedin.png", {height: 20, alt: "LinkedIN"} %></a>
            <a href="https://github.com/joaopapereira/" target="new"><%= image_tag "github.png", {height: 20, alt: "GitHub"} %></a>
            <a href="//plus.google.com/u/0/113496476839486873432?prsrc=3"
                   rel="publisher" target="new" style="text-decoration:none;">
                <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:20px;"/>
                </a>
            <a href="http://stackoverflow.com/users/2032342/jpereira" target="new"><img src="http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png" alt="Stack Overflow" style="border:0;width:20px;"/></a>
          </span>
        </div>
      </div>
    </div>
    