<a name="links"></a>
<div class="jumbotron text-page">
  <h1>Links</h1>
  <div class="row">
      <div class="col-lg-4 col-lg-offset-1">
          <a href="http://www.named-data.net" target="new"><span class="label label-default" style="background-color: #C6491A">Named Data</span></a>
          <a href="http://www.blue-tc.com" target="new"><span class="label label-default" style="background-color: #C6491A">Blue Telecom Consulting</span></a>
          <a href="http://www.ericsson.se" target="new"><span class="label label-default" style="background-color: #C6491A">Ericsson</span></a>
          <a href="http://www.ua.pt/deti" target="new"><span class="label label-default" style="background-color: #C6491A">Department of Electronic, Telecommunications and Informatic</span></a>
          <a href="http://www.cm-aveiro.pt" target="new"><span class="label label-default" style="background-color: #C6491A">Aveiro</span></a>
          <a href="http://www.ptinovacao.pt/en/" target="new"><span class="label label-default" style="background-color: #C6491A">PT Inovação</span></a>
          <a href="http://www.wipro.com/industries/retail/" target="new"><span class="label label-default" style="background-color: #C6491A">Wipro Retail</span></a>
          <a href="http://www.lobiasm.co.uk" target="new"><span class="label label-default" style="background-color: #C6491A">Lobiasm</span></a>
      </div>
  </div>
</div>