<a name="portfolio"></a>
<div class="jumbotron text-page">
  <h1>Portfolio</h1>
  <h2>Work experience</h2>
  <div class="row">
    <p>During University time I started doing some web pages in 
       <a href="http://en.wikipedia.org/wiki/LAMP_(software_bundle)">LAMP</a>, with some friends. 
       It started with some local projects and then we were able to get a contract to 
       start a small E-Commerce site.</p>
    <p>But then University ended and we parted each for our own path. I started working 
       for <a href="http://www.ptinovacao.pt/en/">PT Inovaç&atilde;o</a>, as a consultant of 
       <a href="https://outsoft.pt/home" target="new">Outsoft</a>, in Aveiro were I got a lot of 
       experience developing and costumizing the OCS that was deployed in places like 
       Portugal, Timor, Morocco, Angola...</p>
    <p>Always wanted to have an experience abroad, so I decided to move to Oporto's 
       Office of <a href="http://www.wipro.com/industries/retail/" target="new">Wipro Technologies</a> 
       and soon after I got shipped into Leeds. In this 
       job I had the oportunity to move to a different area and work really as a 
       consultant. During my stay at the company I worked with very important clients 
       like Morrisons PLC, Ahold US and Mercal. It was a rewarding experience in therms 
       of market knowledge and Enterprise organization.</p>
    <p>But then love happened and it was in Madrid so I packed and moved to Madrid 
       and started working as a consultant of 
       <a href="http://www.bluetc.es/" target="new">Blue Telecom Consulting</a> at 
       <a href="www.ericsson.se" target="new">Ericsson Spain</a>. 
       Working there I came back to Networking on the DPI product SASN. I was part 
       of the team that took SASN in a new platform called SSR.</p> 
  </div>
  <h2>Not work related</h2>
  <div class="row">
      <p>Some examples of things that i worked on during my free time can be found in 
         my <a href="https://github.com/joaopapereira/" target="new">Github account</a>.</p>
      <p>I also helped as a TA in a MOOC from EDX, as part of the World TA team organized 
         by <a href="http://www.agileventures.org/">AgileVentures</a>.</p>
      <p>I developed a high throughput analysis program to analyse DNA and proteomic 
         sequences and compare mutations in among any protein in the fasta format.</p>

  </div>
  <h2>Experience</h2>
  <div class="row">
      <p></p>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <h3>Languages</h3>
        <span class="label label-default" style="background-color: #C6491A">C/C++</span>
        <span class="label label-default" style="background-color: #C6491A">Python</span>
        <span class="label label-default" style="background-color: #C6491A">PL/SQL</span>
        <span class="label label-default" style="background-color: #C6491A">Ruby on Rails</span>
        <span class="label label-default" style="background-color: #C6491A">Shell scripting</span>
        <span class="label label-default" style="background-color: #C6491A">PHP</span>
    </div>
    <div class="col-lg-6">
        <h3>Areas</h3>
        <span class="label label-default" style="background-color: #C6491A">Telecommunications</span>
        <span class="label label-default" style="background-color: #C6491A">Suply Chain</span>
        <span class="label label-default" style="background-color: #C6491A">Networking</span>
        <span class="label label-default" style="background-color: #C6491A">IP</span>
        <span class="label label-default" style="background-color: #C6491A">Framework Development</span>
        <span class="label label-default" style="background-color: #C6491A">TDD</span>
        <span class="label label-default" style="background-color: #C6491A">Scrum</span>
    </div>
  </div>
  <div class="row">
      <div id="chart_div"></div>
  </div>
</div>