<a name="presentation"></a>
<div class="jumbotron text-page">
  <h1>About me</h1>
  <div class="row">
    <div class="col-lg-12">
      <p>Hello and welcome to my web site</p>
        <img class="col-lg-3 img-responsive-right pull-right" src="<%= asset_path("me.png")%>" width="300px">
      <p>My name is Jo&atilde;o Pereira and I am from one of the most beautifull cities in Portugal, a place called Aveiro.</p>
      <p>As some of you might know Aveiro is also know as Portuguese’s Venice due to its characteristic channels that 
         spread accross the city in the Ria zone. The city centre is also bubling with nightlife and modern shopping 
         centers. In recent years Aveiro has become the place of reference for Young and modern life with its 
         renovated city centre not being yet overwelmed by the traffic and overpopulation you encounter in bigger 
         cities. Here you can appreciate the fresh sea food everyday, being Aveiro a fishing city you have the most 
         characteristic fish markets in the country and this reflects in the excellent restaurants that opened recently 
         in the area. You can also combine the food experience with a Spa in the core of the city in the new Melia hotel. 
         If you are curious you can take a look in <a href="http://www.aveiro.eu/default.asp?lg=en" target="new">here</a> 
         or just go visit one day and enjoy the city that has converted 
         from a fishing zone into a tourism spot very appreciated among the people who look for the best Portugal has to offer .</p>
      <p>The <a href="www.ua.pt" target="new">University of Aveiro</a>, a modern and cutting edge University recently 
         ranked among the best european universities 
         is located in the historic center of the city. I choosed this University to complete my Bachelor’s and Master’s degree 
         in Computer Science because it forms the best telecom professionals and has a 100% empregability rate in the first year 
         in the work market after ending the degree.</p>
      <p>After finishing my course I have departed my home town to work in other places. I have worked in Oporto, Leeds, 
         Madrid and will be recently enlarging this list. As many like to say i one more child of the globalization 
         where the world is my country.</p>
      <p>At this moment me and my lovely wife are working and living in Madrid enjoying the sybarite type of life the 
         city has to offer. We both have excellent Jobs but are willing to look for new experiences abroad.</p>
      <p>But life is not only work. During my free time I like to watch series, play video games, listen to music and
         have a nice glass of wine during a nice meal. When i have some free time I love to cook.</p>
    </div>
  </div>
</div>